html {
    font-family: Helvetica, sans-serif;
    background-color: palegoldenrod;
    /*color: white;*/
    /*background: url(https://www.agingwithdignity.org/images/default-source/default-album/hope.jpg?sfvrsn=0) no-repeat center center fixed; */
    background: url(https://media.giphy.com/media/X2QBmjCQAHtle/giphy.gif) no-repeat fixed;
    background-size: cover;
}

ul {
    list-style-type:none;
}

input {
    margin-left: 3%;
    width: 1010px;
}


#chat {
    color: white;
    overflow-y: scroll;
    max-height: 250px;
    width: 70%;
    margin-left: 3%;
    background-color: rgba(30, 30, 30, 0.5);
    border-radius: 5px;
    float: left;
}

#users {
    float: right;
    width: 20%;
    margin-right: 35px;
    background-color: rgba(30, 30, 30, 0.5);
    border-radius: 5px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    overflow-y: scroll;
    max-height: 250px;
}

#userContainer {
    position: relative;
}

#media {
    width: 15px;
    height: 15px;
    top: 36px;
    left: 36px;
    position: absolute;
}

#clear {
    clear: both;
}

#noMarg {
    margin: 0;
}

#fbLogin, #fbLogout {
    background-color: #3B5998;
    border-color: #3B5998;
    border-radius: 5px;
    font-size: 14px;
}

#gLogin, #gLogout {
    font-size: 14px;
}

#profPic {
    width: 50px;
    height: 50px;
}

textarea {
    resize: none;
    width: 1015px;
    height: 70px;
    margin-left: 3%;
}




#customBtn {
      display: inline-block;
      background: white;
      color: #444;
      width: 190px;
      border-radius: 5px;
      border: thin solid #888;
      box-shadow: 1px 1px 1px grey;
      white-space: nowrap;
    }
    #customBtn:hover {
      cursor: pointer;
    }
    span.label {
      font-family: serif;
      font-weight: normal;
    }
    span.icon {
      background: url('/identity/sign-in/g-normal.png') transparent 5px 50% no-repeat;
      display: inline-block;
      vertical-align: middle;
      width: 42px;
      height: 42px;
    }
    span.buttonText {
      display: inline-block;
      vertical-align: middle;
      padding-left: 42px;
      padding-right: 42px;
      font-size: 14px;
      font-weight: bold;
      /* Use the Roboto font that is loaded in the <head> */
      font-family: 'Roboto', sans-serif;
    }
